
dist
.solid
.output
.vercel
.netlify
netlify

# dependencies
node_modules

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

.vercel

# vite config transpiled to js
vite.config.ts.timestamp-*.mjs
