html {
    font-size: 22px;
    --at-apply: text-bone;
    color-scheme: dark;
}

*::selection {
    --at-apply: bg-wall text-dark;
}

body {
    /* background-color: #111; */
    --at-apply: bg-dark;
    font-family: 'VT323', monospace;
    overflow: hidden;
    opacity: 0;
}

body.loaded {
    --at-apply: 'animate-fade-in duration-600 animate-forwards';
}

button,
input {
    --at-apply: bg-transparent cursor-pointer;
    --at-apply: border-wall border-2 border-solid;
    --at-apply: px-1;
    --at-apply: 'hover:border-blood';
    --at-apply: 'focus:border-bone';
}

button {
    --at-apply: 'active:bg-blood active:focus:bg-blood active:text-dark active:border-blood';
}

kbd {
    --at-apply: h-6 w-6 inline-flex items-center justify-center border-2 border-wall font-inherit;
}

/* Disable number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}
