html {
    font-size: 22px;
    --at-apply: text-bone;
}

*::selection {
    --at-apply: bg-wall text-stone-9;
}

body {
    /* background-color: #111; */
    --at-apply: bg-stone-9;
    font-family: 'VT323', monospace;
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button,
input {
    --at-apply: bg-transparent cursor-pointer;
    --at-apply: border-wall border-2 border-solid;
    --at-apply: px-1;
    --at-apply: 'hover:border-primary';
    --at-apply: 'focus:border-bone';
}

button {
    --at-apply: 'active:bg-primary active:focus:bg-primary active:text-stone-9 active:border-primary';
}

/* Disable number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}
