html {
    font-size: 22px;
    --at-apply: text-bone;
    color-scheme: dark;
}

@media screen and (max-width: 52rem) {
    html {
        font-size: 18px;
    }
}

*::selection {
    --at-apply: bg-wall text-dark;
}

body {
    /* background-color: #111; */
    --at-apply: bg-dark;
    font-family: 'VT323', monospace;
    overflow: hidden;
    opacity: 0;
}

body.loaded {
    --at-apply: 'animate-fade-in duration-600 animate-forwards';
}

button,
input {
    --at-apply: bg-transparent cursor-pointer;
    --at-apply: border-wall border-2 border-solid;
    --at-apply: px-1;
    --at-apply: 'hover:border-blood';
    --at-apply: 'focus:border-bone';
}

button {
    --at-apply: 'active:bg-blood active:focus:bg-blood active:text-dark active:border-blood';
}

kbd {
    --at-apply: h-6 w-6 inline-flex items-center justify-center border-2 border-wall font-inherit;
}

/* Disable number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.container-split {
    --width: min(85vw, 52rem);
    --gap: 3rem;
    display: grid;
    overflow: hidden;
    grid-gap: var(--gap);
    width: var(--width);
    grid-template: 1fr / 1fr 1fr;
    translate: calc((1 - var(--show-menu-mod, 1)) * (-0.25 * var(--width) - var(--gap) / 2)) 0
        0.001px;
    transition: translate 600ms 200ms ease-in-out;
}

@media screen and (max-width: 52rem) {
    .container-split {
        --width: 100vw;
        --gap: 1rem;
        padding: 2rem;
        grid-template: 1fr 1fr / 1fr;
        translate: 0 calc((1 - var(--show-menu-mod, 1)) * -25vh) 0.001px;
    }
}
